<nz-row nzJustify="space-around" [nzGutter]="20">
  <nz-col nzSpan="8">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid consequatur cumque eum, facilis iste
    molestiae nam nobis non numquam optio pariatur perferendis quidem repellendus repudiandae sed tempora velit
    voluptate.
  </nz-col>
  <nz-col nzSpan="8">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet autem enim magnam nemo, obcaecati unde veritatis?
    Corporis, cupiditate fugit id iste laboriosam nulla perspiciatis quos sequi sit suscipit vel veritatis.
  </nz-col>
  <nz-col nzSpan="8" style="justify-content: center">
    <i class="fab fa-instagram-square fa-3x"></i>
    <i class="fab fa-facebook-square fa-3x margin-l-medium"></i>
    <i class="fab fa-youtube-square fa-3x margin-l-medium"></i>
  </nz-col>
</nz-row>
