<nz-row nzJustify="space-around" [nzGutter]="20" class="footer-container">
  <nz-col nzSpan="8" class="text-center">
    This page was created by Razvan Resmerita and Razvan Bocancea.
    <br>
    If you want to see more about their work experience please check their GitHub profiles
    <br>
    <a (click)="navigateToResmerita()">Razvan Resmerita</a>
    <br>
    <a (click)="navigateToBocancea()">Razvan Bocancea</a>
  </nz-col>
  <nz-col nzSpan="8" class="text-center">
    We would like to thanks to our sponsors.
    <br>
    Sponsor nr 1
    <br>
    Sponsor nr 2
    <br>
    Sponsor nr 3
    <br>
    Sponsor nr 4
  </nz-col>
  <nz-col nzSpan="8" class="text-center">
    <i class="fab fa-instagram-square fa-3x" (click)="navigateToInstagram()"></i>
    <i class="fab fa-facebook-square fa-3x margin-l-medium" (click)="navigateToFacebook()"></i>
    <i class="fab fa-youtube-square fa-3x margin-l-medium" (click)="navigateToYoutube()"></i>
  </nz-col>
</nz-row>
