  <form nz-form [formGroup]="form">
    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzRequired nzFor="name">Email</nz-form-label>
      <nz-form-control [nzSpan]="12" nzErrorTip="Please input your email">
        <input type="email" nz-input formControlName="email"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzSpan="4">Message</nz-form-label>
      <nz-form-control nzErrorTip="Your message is too long">
        <nz-textarea-count [nzMaxCharacterCount]="100">
          <textarea placeholder="Text..." rows="4" nz-input formControlName="message"></textarea>
        </nz-textarea-count>
      </nz-form-control>
    </nz-form-item>
  </form>
<nz-row nzJustify="end" class="margin-t-large">
  <button [disabled]="form.invalid" nz-button nzType="primary" (click)="sendMessage(form.value)">Send</button>
</nz-row>

