<nz-row [nzGutter]="20" class="margin-t-medium"  nzJustify="space-around">
  <nz-col data-aos="flip-left"
          data-aos-easing="ease-out-cubic"
          data-aos-duration="2000" nzSpan="10" style="text-align: center">
    <img width="700px" src="assets/customworksLogo.png" alt="">
  </nz-col>
  <nz-col nzFlex="1" class="description" nzSpan="12">
    <div>
      <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur commodi ducimus ea eaque facere harum
        ipsum
        iste natus perferendis quis quod rem saepe sed totam, vitae. Architecto corporis nam sed!</h1>
      <br>
      <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur assumenda debitis delectus dolorum
        excepturi, inventore maiores, provident qui quibusdam quisquam reiciendis saepe voluptate. A, aperiam itaque
        nisi
        recusandae sapiente tenetur!</h1>
    </div>
  </nz-col>
</nz-row>
<nz-row [nzGutter]="20" class="margin-t-medium test" nzJustify="space-around">
  <nz-col nzFlex="1" class="description" nzSpan="12">
    <div>
      <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur commodi ducimus ea eaque facere harum
        ipsum
        iste natus perferendis quis quod rem saepe sed totam, vitae. Architecto corporis nam sed!</h1>
      <br>
      <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur assumenda debitis delectus dolorum
        excepturi, inventore maiores, provident qui quibusdam quisquam reiciendis saepe voluptate. A, aperiam itaque
        nisi
        recusandae sapiente tenetur!</h1>
    </div>
  </nz-col>
  <nz-col  data-aos="flip-left"
           data-aos-easing="ease-out-cubic"
           data-aos-duration="2000" nzSpan="10" style="text-align: center">
    <img width="700px" src="assets/home.jpeg" alt="">
  </nz-col>
</nz-row>
<nz-row [nzGutter]="20" class="margin-t-medium test" nzJustify="space-around">
  <nz-col data-aos="flip-left"
          data-aos-easing="ease-out-cubic"
          data-aos-duration="2000"  nzSpan="10" style="text-align: center">
    <img width="700px" src="assets/cartoon_golf6raz03.JPG" alt="">
  </nz-col>
  <nz-col nzFlex="1" class="description" nzSpan="12">
    <div>
      <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur commodi ducimus ea eaque facere harum
        ipsum
        iste natus perferendis quis quod rem saepe sed totam, vitae. Architecto corporis nam sed!</h1>
      <br>
    </div>
  </nz-col>

</nz-row>
<nz-row [nzGutter]="20" class="margin-t-medium test" nzJustify="space-around">

  <nz-col nzFlex="1" class="description" nzSpan="12">
    <div>
      <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur commodi ducimus ea eaque facere harum
        ipsum
        iste natus perferendis quis quod rem saepe sed totam, vitae. Architecto corporis nam sed!</h1>
      <br>
    </div>
  </nz-col>
  <nz-col data-aos="flip-left"
          data-aos-easing="ease-out-cubic"
          data-aos-duration="2000"  nzSpan="10" style="text-align: center">
    <img width="700px" src="assets/cartoon_golf6raz03.JPG" alt="">
  </nz-col>
</nz-row>
<nz-row [nzGutter]="20" class="margin-t-medium test" nzJustify="space-around">
  <nz-col data-aos="flip-left"
          data-aos-easing="ease-out-cubic"
          data-aos-duration="2000"  nzSpan="10" style="text-align: center">
    <img width="700px" src="assets/cartoon_golf6raz03.JPG" alt="">
  </nz-col>
  <nz-col nzFlex="1" class="description" nzSpan="12">
    <div>
      <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur commodi ducimus ea eaque facere harum
        ipsum
        iste natus perferendis quis quod rem saepe sed totam, vitae. Architecto corporis nam sed!</h1>
      <br>
    </div>
  </nz-col>

</nz-row>

<nz-row class="margin-t-medium">
  <app-footer></app-footer>
</nz-row>

