<nz-spin [nzSpinning]="loading" class="margin-t-medium" style="align-items: center">
  <nz-row nzJustify="center" class="margin-t-medium" *ngFor="let event of events">
    <nz-col nzSpan="3" style="background-color: aliceblue; text-align: center; justify-content: space-between">
      <h2>{{event.eventDate | date: 'dd'}}</h2>
      <h3>{{event.eventDate | date: 'LLLL'}}</h3>
      <h3>{{event.eventDate | date: 'YYYY'}}</h3>
      <i class="fas fa-map-marker-alt"></i>
      <h1>{{event.location}}</h1>
    </nz-col>
    <nz-col nzSpan="5">
      <img src="assets/IMG_9591.jpg" style="max-width: 100%; max-height: 100%" alt="">
    </nz-col>
    <nz-col nzSpan="10" style="background-color: azure; align-items: center">
      <nz-row nzJustify="center" style="height: 100%">
        <nz-col nzSpan="20" style="padding: 15px">
          <h2>{{event.content}}</h2>
        </nz-col>
        <nz-col nzSpan="4" class="youtube-link">
          <h3 style="margin-top: 50%">Youtube</h3>
          <br>
          <h4>Video</h4>
          <br>
          <h4>Link</h4>
        </nz-col>
      </nz-row>
    </nz-col>
  </nz-row>
</nz-spin>

