
<nz-row nzJustify="center" class="margin-t-medium">
  <nz-col nzSpan="3" style="background-color: aliceblue; text-align: center; justify-content: space-between">
    <h2>12</h2>
    <h3>December</h3>
    <h3>2021</h3>
    <i class="fas fa-map-marker-alt"></i>
    <h1>Bucharest</h1>
    <h3>Piata Unirii</h3>
    <h3>Start at 20:00</h3>
  </nz-col>
  <nz-col nzSpan="5">
    <img src="assets/IMG_9591.jpg" style="max-width: 100%; max-height: 100%" alt="">
  </nz-col>
  <nz-col nzSpan="10" style="background-color: azure; align-items: center">
    <nz-row nzJustify="center">
      <nz-col nzSpan="20">
        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis consectetur consequatur corporis
          deserunt
          dolor exercitationem, hic laboriosam laborum maxime minima nulla omnis possimus praesentium reiciendis
          repellat
          sapiente soluta sunt vel.</h2>
      </nz-col>
    </nz-row>
  </nz-col>
</nz-row>
<nz-row nzJustify="center" class="margin-t-medium">
  <nz-col nzSpan="3" style="background-color: aliceblue; text-align: center; justify-content: space-between">
    <h2>12</h2>
    <h3>December</h3>
    <h3>2021</h3>
    <i class="fas fa-map-marker-alt"></i>
    <h1>Bucharest</h1>
    <h3>Piata Unirii</h3>
    <h3>Start at 20:00</h3>
  </nz-col>
  <nz-col nzSpan="5">
    <img src="assets/IMG_9591.jpg" style="max-width: 100%; max-height: 100%" alt="">
  </nz-col>
  <nz-col nzSpan="10" style="background-color: azure; align-items: center">
    <nz-row nzJustify="center">
      <nz-col nzSpan="20">
        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis consectetur consequatur corporis
          deserunt
          dolor exercitationem, hic laboriosam laborum maxime minima nulla omnis possimus praesentium reiciendis
          repellat
          sapiente soluta sunt vel.</h2>
      </nz-col>
    </nz-row>
  </nz-col>
</nz-row>

