<form nz-form [formGroup]="validateForm">
  <nz-form-item>
    <nz-form-label nzSpan="6" nzRequired nzFor="name">Username</nz-form-label>
    <nz-form-control>
      <input style="width: 80%" nz-input formControlName="username"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan="6" nzRequired nzFor="car">Email</nz-form-label>
    <nz-form-control>
      <input style="width: 80%" nz-input formControlName="email"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan="6" nzRequired nzFor="city">Password</nz-form-label>
    <nz-form-control>
      <input style="width: 80%" nz-input formControlName="password"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan="6" nzRequired nzFor="memberFrom">First Name</nz-form-label>
    <nz-form-control>
      <input style="width: 80%" formControlName="firstName"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nz-row>
    <nz-form-label nzSpan="6" nzRequired nzFor="taxPaid">Last Name</nz-form-label>
    <nz-form-control>
      <input style="width: 80%" formControlName="lastName"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nz-row>
    <nz-form-label nzSpan="6" nzRequired nzFor="taxPaid">Enabled</nz-form-label>
    <nz-form-control>
      <label nz-checkbox formControlName="enabled"></label>
    </nz-form-control>
  </nz-form-item>
</form>
