<form nz-form [formGroup]="validateForm">
  <nz-form-item>
    <nz-form-label nzSpan="6" nzRequired nzFor="name">Name</nz-form-label>
    <nz-form-control>
      <input style="width: 80%" nz-input formControlName="name"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan="6" nzRequired nzFor="car">Car</nz-form-label>
    <nz-form-control>
      <input style="width: 80%"  nz-input formControlName="car"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan="6" nzRequired nzFor="city">City</nz-form-label>
    <nz-form-control>
      <input style="width: 80%"  nz-input formControlName="city"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan="6" nzRequired nzFor="memberFrom">Member from</nz-form-label>
    <nz-form-control>
      <nz-date-picker style="width: 80%" formControlName="memberFrom"></nz-date-picker>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nz-row>
    <nz-form-label nzSpan="6" nzRequired nzFor="taxPaid">Tax paid</nz-form-label>
    <nz-form-control>
      <label nz-checkbox formControlName="taxPaid"></label>
    </nz-form-control>
  </nz-form-item>
</form>
