<form nz-form [formGroup]="validateForm">
  <nz-form-item>
    <nz-form-label nzSpan="6" nzRequired nzFor="name">Username</nz-form-label>
    <nz-form-control>
      <input style="width: 80%" nz-input formControlName="memberName"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan="6" nzRequired nzFor="city">Last name</nz-form-label>
    <nz-form-control>
      <input style="width: 80%" type="password" nz-input formControlName="lastName"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan="6" nzRequired nzFor="car">Email</nz-form-label>
    <nz-form-control>
      <input style="width: 80%" type="email" nz-input formControlName="email"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan="6" nzRequired nzFor="memberFrom">Tax paid</nz-form-label>
    <nz-form-control>
      <label nz-checkbox formControlName="taxPaid"></label>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nz-row>
    <nz-form-label nzSpan="6" nzRequired nzFor="taxPaid">Tax start date</nz-form-label>
    <nz-form-control>
      <nz-date-picker formControlName="taxStartDate"></nz-date-picker>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nz-row>
    <nz-form-label nzSpan="6" nzRequired nzFor="taxPaid">Tax end date</nz-form-label>
    <nz-form-control>
      <nz-date-picker formControlName="taxStartDate"></nz-date-picker>
    </nz-form-control>
  </nz-form-item>
</form>
