<form nz-form [formGroup]="validateForm">
  <nz-form-item>
    <nz-form-label nzSpan="6" nzRequired nzFor="name">Firstname</nz-form-label>
    <nz-form-control>
      <input style="width: 80%" nz-input formControlName="firstName"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan="6" nzRequired nzFor="car">Lastname</nz-form-label>
    <nz-form-control>
      <input style="width: 80%" nz-input formControlName="lastName"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan="6" nzRequired nzFor="city">Email</nz-form-label>
    <nz-form-control>
      <input style="width: 80%" type="email" nz-input formControlName="email"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan="6" nzRequired nzFor="memberFrom">Username</nz-form-label>
    <nz-form-control>
      <input nz-input type="text" style="width: 80%" formControlName="username"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nz-row>
    <nz-form-label nzSpan="6" nzRequired nzFor="taxPaid">Enabled</nz-form-label>
    <nz-form-control>
      <label nz-checkbox formControlName="enabled"></label>
    </nz-form-control>
  </nz-form-item>
</form>

