<nz-row nzJustify="space-around" class="margin-t-medium">
  <nz-col *ngFor="let video of videoList; let i = index">
    <nz-card nzHoverable style="width:240px" [nzCover]="firstYoutubeVideo">
      <nz-card-meta [nzTitle]="video.title" [nzDescription]="cardDescription"></nz-card-meta>
    </nz-card>
    <ng-template #firstYoutubeVideo>
      <iframe allowfullscreen height="300px"
              [src]="video.link | safeUrl">
      </iframe>
    </ng-template>
    <ng-template #cardDescription>
      <p>www.youtube.com</p>
      <i class="fas fa-trash-alt" (click)="deleteVideo(i)"></i>
    </ng-template>
  </nz-col>
  <nz-col  *ngFor="let icon of iconList">
    <nz-row nzJustify="center" class="add-video-container">
      <nz-col [nzFlex]="1">
        <i class="fab fa-youtube fa-7x add-video-icon" (click)="adVideo()"></i>
        <h2 class="margin-t-large">Add video</h2>
      </nz-col>
    </nz-row>
  </nz-col>
</nz-row>






