<form nz-form [formGroup]="form">
  <nz-form-item>
    <nz-form-label>Link</nz-form-label>
    <nz-form-control>
      <input type="text" nz-input formControlName="link">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>Title</nz-form-label>
    <nz-form-control>
      <input type="text" nz-input formControlName="title">
    </nz-form-control>
  </nz-form-item>
</form>
<nz-row nzJustify="end">
  <nz-space>
    <button *nzSpaceItem nz-button nzType="default" (click)="closeModal()">Cancel</button>
    <button *nzSpaceItem [disabled]="form.invalid" nz-button nzType="primary" (click)="addVideo()">Add</button>
  </nz-space>
</nz-row>
