<!--<nz-row nzJustify="end">-->
<!--  <button nz-button nzType="primary" (click)="addUser()">Add user</button>-->
<!--</nz-row>-->
<!--<nz-row class="margin-t-small">-->
<!--  <nz-table #basicTable [nzData]="listOfData" style="width: 100%">-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th nzAlign="center">Name</th>-->
<!--      <th nzAlign="center">Location</th>-->
<!--      <th nzAlign="center">Date</th>-->

<!--      <th nzAlign="center">Action</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr *ngFor="let data of basicTable.data; let i=index" style="text-align: center">-->
<!--&lt;!&ndash;      <td>{{ data.name }}</td>&ndash;&gt;-->
<!--&lt;!&ndash;      <td>{{ data.car }}</td>&ndash;&gt;-->
<!--&lt;!&ndash;      <td>{{ data.city }}</td>&ndash;&gt;-->
<!--&lt;!&ndash;      <td>{{ data.memberFrom }}</td>&ndash;&gt;-->
<!--&lt;!&ndash;      <td>{{ data.taxPaid | boolean}}</td>&ndash;&gt;-->
<!--      <td>-->
<!--        <nz-space>-->
<!--          <button style="min-width: 75px" *nzSpaceItem nz-button nzType="primary" [nzDanger]="true"-->
<!--                  nz-popconfirm nzPopconfirmTitle="Are you sure you want to delete this user?"-->
<!--                  >Delete-->
<!--          </button>-->
<!--          <button style="min-width: 75px" nz-button *nzSpaceItem nzType="primary">Edit</button>-->
<!--        </nz-space>-->
<!--      </td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </nz-table>-->
<!--</nz-row>-->

